<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.regblanc.sgl.android.core">

    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="29"/>

    <application android:isGame="true"
     	         android:hardwareAccelerated="true" />

</manifest>
