package {{PACKAGE}}.desktop

object {{MAIN_CLASS}} extends {{BACKEND_APP}} {{SCREEN2D_MIXIN}} with {{CORE_ABSTRACT_CLASS}}
  with _root_.sgl.native.util.VerboseStdErrLoggingProvider
  {{TILED_MIXINS}}{{EXTRA_MIXINS}} {

  override val TargetFps: Option[Int] = {{TARGET_FPS}}

  override val frameDimension: (Int, Int) = ({{FRAME_WIDTH}}, {{FRAME_HEIGHT}})

  {{SCREEN_FORCE_PPI}}

  {{RESOURCE_ROOTS}}
}
