package {{PACKAGE}}.desktop

object {{MAIN_CLASS}} extends _root_.sgl.lwjgl.LwjglApp with {{CORE_ABSTRACT_CLASS}}{{EXTRA_MIXINS}}
  with _root_.sgl.DesktopSystemProvider
  with _root_.sgl.desktop.util.LiftJsonProvider
  with _root_.sgl.desktop.util.VerboseStdErrLoggingProvider
  with {{SAVE_COMPONENT}} {

  override val TargetFps: Option[Int] = {{TARGET_FPS}}

  override val frameDimension: (Int, Int) = ({{FRAME_WIDTH}}, {{FRAME_HEIGHT}})

  override val windowTitle: String = "{{WINDOW_TITLE}}"

  {{SAVE_COMPONENT_INIT}}
}
