package {{PACKAGE}}.desktop

import sgl._
import sgl.awt._
import sgl.awt.util._

import sgl.util.metrics._

object {{MAIN_CLASS}} extends AWTApp with {{CORE_ABSTRACT_CLASS}}
  with VerboseStdErrLoggingProvider
  with LiftJsonProvider
  with GameLoopStatisticsComponent
  with DefaultInstrumentationProvider {

  override val TargetFps = Some(60)

  override val frameDimension = ({{FRAME_WIDTH}}, {{FRAME_HEIGHT}})

  override val DynamicResourcesEnabled = true

  override val ScreenForcePPI = Some(160)
}
