package {{PACKAGE}}.html5

import sgl._
import sgl.scene._
import sgl.html5._
import sgl.html5.themes._
import sgl.util._
import sgl.html5.util._

import scala.scalajs.js.annotation.JSExportTopLevel

@JSExportTopLevel("{{MAIN_CLASS}}")
object {{MAIN_CLASS}} extends Html5App with {{CORE_ABSTRACT_CLASS}}
  with Html5VerboseConsoleLoggingProvider {

  override val TargetFps: Option[Int] = None

  override val theme = new FixedWindowTheme {
    override val frameSize = ({{CANVAS_WIDTH}}, {{CANVAS_HEIGHT}})
  }

  override val ResourcesRoot = PartsResourcePath(Vector("{{ASSETS_SERVING_ROOT}}"))
}
