package {{PACKAGE}}.html5

@_root_.scala.scalajs.js.annotation.JSExportTopLevel("{{MAIN_CLASS}}")
object {{MAIN_CLASS}} extends _root_.sgl.html5.Html5CanvasApp {{SCREEN2D_MIXIN}} with {{CORE_ABSTRACT_CLASS}}{{EXTRA_MIXINS}}
  with {{SAVE_COMPONENT}}
  with _root_.sgl.html5.util.Html5DefaultConsoleLoggingProvider
  with _root_.sgl.html5.util.Html5JsonProvider
  with _root_.sgl.ads.NoAdsProvider
  with _root_.sgl.analytics.NoAnalyticsProvider
  {{GAME_LOOP_STATISTICS_MIXIN}}
  with _root_.sgl.util.metrics.DefaultInstrumentationProvider {

  override val TargetFps: Option[Int] = None

  override protected val Html5KeyboardCapture: _root_.sgl.html5.Html5KeyboardCaptureMode = {{KEYBOARD_CAPTURE}}
  override protected val Html5KeyboardPreventDefault: Boolean = {{KEYBOARD_PREVENT_DEFAULT}}
  override protected val Html5MousePreventDefault: Boolean = {{MOUSE_PREVENT_DEFAULT}}
  override protected val Html5WheelPreventDefault: Boolean = {{WHEEL_PREVENT_DEFAULT}}
  override protected val Html5TouchPreventDefault: Boolean = {{TOUCH_PREVENT_DEFAULT}}
  override protected val Html5TouchStopPropagation: Boolean = {{TOUCH_STOP_PROPAGATION}}

  override val theme: _root_.sgl.html5.themes.Theme = {{THEME_EXPRESSION}}

  override protected val Html5AssetsServingRoot: String = "{{ASSETS_SERVING_ROOT}}"
{{ASSET_PACK_MANIFEST_OVERRIDE}}
}
