package {{PACKAGE}}.html5

import sgl._
import sgl.html5._
import sgl.html5.util._
import sgl.html5.themes._
import sgl.util.metrics._
import sgl.analytics._
import sgl.ads._

import scala.scalajs.js.annotation.JSExportTopLevel

@JSExportTopLevel("{{MAIN_CLASS}}")
object {{MAIN_CLASS}} extends Html5App with {{CORE_ABSTRACT_CLASS}}
  with LocalStorageSaveComponent
  with Html5DefaultConsoleLoggingProvider
  with Html5JsonProvider
  with NoAdsProvider
  with NoAnalyticsProvider
  with GameLoopStatisticsComponent
  with DefaultInstrumentationProvider
{

  override val TargetFps: Option[Int] = None

  override val theme: Theme = new FixedWindowTheme {
    override val frameSize: (Int, Int) = ({{CANVAS_WIDTH}}, {{CANVAS_HEIGHT}})
  }

  override val ResourcesRoot: ResourcePath = PartsResourcePath(Vector("{{ASSETS_SERVING_ROOT}}"))
}
