*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/firebase/build
/admob/build
/play-games/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
